#root {
	background-color: #FFF1E6!important;
}

div, section, header, footer, nav {
	text-align: center;
	padding: 15px;
}

div {
	background-color: #F5CAFF;
}

header {
	background-color: #FFF7B7;
}

section {
	background-color: #8FFEDD;
}

nav {
	background-color: #FFC8C8;
}

footer {
	background-color: #EDE4C9;
}

span {
	font-weight: bold;
}

p {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	font-family: calibri, arial;
}

button {
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 2px;
}